div.datepicker-dates {
  position: relative;
  width: 156px;
  height: 100%;
  margin-top: 0.5em;
  div.day {
    position:absolute;
  }
}

.dayInWeek-1 {
  left:0;
}
.dayInWeek-2 {
  left:22px;
}
.dayInWeek-3 {
  left:44px;
}
.dayInWeek-4 {
  left:66px;
}
.dayInWeek-5 {
  left:88px;
}
.dayInWeek-6 {
  left:110px;
}
.dayInWeek-0 {
  left:132px;
}
.week-1 {
  top:0;
}
.week-2 {
  top:24px;
}
.week-3 {
  top:48px;
}
.week-4 {
  top:72px;
}
.week-5 {
  top:96px;
}
.week-6 {
  top:120px;
}
.datepicker {
  position:relative;
  height: 220px;
  width: 170px;
  z-index: 10;
  .day {
    a {
      width:20px;
      display: block;
      text-align: center;
      color: #222;
      text-decoration:none;
      padding: 2px;
    }
    a:hover {
      background-color: #eaeaea;
    }
  }
  .out .day a {
    color: #bcbcbc;
  }
  .numberpicker {
    margin:0.2em;
    text-align: center;
  }
  .day.selected {
    background-color: #c9c9c9;
  }
}
.datepicker-container {
  position:relative;
  border:1px solid #979797;
  padding:0.5em;
  background-color: #fff;
  height: 220px;
}
.datepicker-wrapper {
  position:absolute;
}