div.datepicker-dates {
  position: relative
  width:156px
  height:100%

  div.day {
    position: absolute;
  }
}
.dayInWeek-1 {
  left:0;
}
.dayInWeek-2 {
  left:22px;
}
.dayInWeek-3 {
  left:44px;
}
.dayInWeek-4 {
  left:66px;
}
.dayInWeek-5 {
  left:88px;
}
.dayInWeek-6 {
  left:110px;
}
.dayInWeek-0 {
  left:132px;
}
.week-1 {
  top:0;
}
.week-2 {
  top:24px;
}
.week-3 {
  top:48px;
}
.week-4 {
  top:72px;
}
.week-5 {
  top:96px;
}
.week-6 {
  top:120px;
}
.datepicker {
  position:relative;
  height: 250px;
  width: 170px;
  z-index: 10;

  .out .day {
    background-color: #e0e0e0;
  }
  .day {
    a {
      width:20px;
      display: block;
      border: 1px solid #000;
      text-align: center;

      &:hover {
        text-decoration: none;
        background-color: #d3d3d3;
      }
    }
    &.selected {
      background-color: #d3d3d3;
    }
  }
  .datapicker-year {
    text-align: center;
  }
  .datapicker-month {
    text-align: center;
  }
  .numberpicker {
    margin:0.2em;
    text-align: center;
  }
}
.datepicker-container {
  position:relative;
  border:1px solid #000;
  padding:0.5em;
  background-color: #fff;
  height: 220px;
}


.datepicker-wrapper {
  position:absolute;
}